<footer>
    <div style="height: 15vh; background-color: black; color: white; ">
        <p>For Educational Purposes Only</p>
        <p>Brandon Algarra</p>
        <p>CST 336</p>

    </div>

</footer>