<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
</head>

<body class="mainSection">
    <h1 class="text-center bg-primary p-5 text-white m-0">The Solar System</h1>

    <%- include("partials/navbar.ejs") %>
<!-- <%- include("partials/dropdownNav.ejs") %> -->
 <br><br>
    <h2>Coming Soon!</h2>
    <br><br><br><br><br>

<%- include("partials/footer.ejs") %>
</body>

</html>